<script >
    $(function() {
        $("table#accountsTable").tablesorter({ sortList: [[0,0]] });
    });
</script>

<table class="zebra-striped" id="accountsTable">
    <thead>
        <tr>
            <th class="yellow header headerSortDown">Login</th>
            <th class="blue header">Status</th>
            <th class="blue header">Duration</th>
            <th class="blue header">Started</th>
            <th class="blue header">Updated</th>
            <th class="blue header">Finished</th>
            <th class="green header">&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        <% @sessions.each do |session| %>
            <tr>
                <td><%= link_to session.account.login, edit_admin_account_path(session.account) %></td>
                <td><%= session_status(session) %></td>
                <td><%= session_duration(session) %></td>
                <td><%= localized_time(session.started_at) %></td>
                <td><%= localized_time(session.updated_at) %></td>
                <td><%= localized_time(session.finished_at) %></td>
                <td><%= link_to("Details", admin_iptraffic_session_path(session)) %></td>
            </tr>
        <% end %>
    </tbody>
</table>
          
<%= will_paginate(@sessions) %>
