<% content_for :sidebar do %>
    <h5><%= link_to 'Create an account', new_admin_account_path %></h5>
    <h5><%= link_to 'List of accounts', admin_accounts_path %></h5>
<% end %>

<% content_for :html_head do %>
    <script type="text/javascript">
        $(document).ready(function() {
                $('ul#tabs li').click(function() {
                    $('ul#tabs li').removeClass('active');
                    $(this).addClass('active');
                });
                $('#password_enable').click(function() {
                    $('#password_field').removeAttr("disabled");
                });
        });
    </script>
<% end %>

<h1>Editing account</h1>

<ul class="tabs" id="tabs">
    <li class="active"><%= link_to "Profile", edit_admin_account_path(@account), :remote => true %></li>
    <li><%= link_to "Services", "#" %></li>
    <li><%= link_to "Payments", admin_transactions_path(:a => @account), :remote => true %></li>
</ul>

<div id="results">
    <%= render :partial => "edit" %>
</div>
