<% content_for :sidebar do %>
    <h5><%= link_to 'Create RADIUS reply', new_admin_radius_reply_path %></h5>
    <h5><%= link_to 'List of RADIUS replies', admin_radius_replies_path %></h5>
<% end %>

<h1>Editing RADIUS reply</h1>

<%= form_for([:admin, @radius_reply]) do |f| -%>
    <%= render "shared/error_messages", :target => @radius_reply %>
    <%= render :partial => "form", :object => f %>
    <div class="actions">
        <%= f.submit 'Update Radius reply', :class => "btn primary" %>
        <%= link_to("Delete Radius reply", admin_radius_reply_path(@radius_reply), "data-method" => "delete", "data-confirm" => "Are you sure to delete this record?") %>
    </div>
<% end -%>
