<% content_for :sidebar do %>
    <h5><%= link_to 'List of RADIUS replies', admin_radius_reply_groups_path %></h5>
<% end %>

<h1>New RADIUS reply group</h1>

<%= form_for([:admin, @radius_reply_group]) do |f| -%>
    <%= render "shared/error_messages", :target => @radius_reply_group %>
    <%= render :partial => "form", :object => f %>
    <div class="actions">
        <%= f.submit 'Create RADIUS reply group', :class => "btn primary" %>
        <%= f.submit 'Reset', :type => "reset", :class => "btn" %>
    </div>
<% end -%>

